@media (max-width: 1024px) and (min-width: 769px) {
  div.dash--container {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  section.dash--nav {
    display: flex;
    flex-direction: row;
  }

  section.dash--nav ul.links {
    display: none;
  }

  section.dash--nav article {
    display: none;
  }

  section.dash--nav a {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  section.right--section article div.top {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    width: 80vw;
    margin: 0 auto;
  }

  div.pie--chart .wrapper h1 {
    font-size: inherit;
  }
}

@media (max-width: 769px) {
  div.dash--container {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  section.dash--nav {
    display: flex;
    flex-direction: row;
  }

  section.dash--nav ul.links {
    display: none;
  }

  section.dash--nav article {
    display: none;
  }

  section.dash--nav a {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  section.right--section article div.top {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    width: 80vw;
    margin-top: 3rem;
  }

  div.pie--chart {
    display: none;
  }

  div.more--details {
    display: none;
  }

  article.top--section {
    display: none;
  }

  article.top--section span {
    display: block;
  }
}
